<h3>Add Student</h3>
<form [formGroup]="addStudent" (ngSubmit)="SaveData()">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>